<!DOCTYPE html>
<!--
 -
 - Licensed to the Apache Software Foundation (ASF) under one
 - or more contributor license agreements.  See the NOTICE file
 - distributed with this work for additional information
 - regarding copyright ownership.  The ASF licenses this file
 - to you under the Apache License, Version 2.0 (the
 - "License"); you may not use this file except in compliance
 - with the License.  You may obtain a copy of the License at
 -
 -   http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing,
 - software distributed under the License is distributed on an
 - "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 - KIND, either express or implied.  See the License for the
 - specific language governing permissions and limitations
 - under the License.
 -
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Broker-J - Apache Qpid&#8482;</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/site.css" type="text/css" async="async"/>
    <link rel="stylesheet" href="/deferred.css" type="text/css" defer="defer"/>
    <script type="text/javascript">var _deferredFunctions = [];</script>
    <script type="text/javascript" src="/deferred.js" defer="defer"></script>
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/ie.css" type="text/css"/>
      <script type="text/javascript" src="/html5shiv.js"></script>
    <![endif]-->

    <!-- Redirects for `go get` and godoc.org -->
    <meta name="go-import"
          content="qpid.apache.org git https://gitbox.apache.org/repos/asf/qpid-proton.git"/>
    <meta name="go-source"
          content="qpid.apache.org
https://github.com/apache/qpid-proton/blob/go1/README.md
https://github.com/apache/qpid-proton/tree/go1{/dir}
https://github.com/apache/qpid-proton/blob/go1{/dir}/{file}#L{line}"/>
  </head>
  <body>
    <div id="-content">
      <div id="-top" class="panel">
        <a id="-menu-link"><img width="16" height="16" src="" alt="Menu"/></a>

        <a id="-search-link"><img width="22" height="16" src="" alt="Search"/></a>

        <ul id="-global-navigation">
          <li><a id="-logotype" href="/index.html">Apache Qpid<sup>&#8482;</sup></a></li>
          <li><a href="/documentation.html">Documentation</a></li>
          <li><a href="/download.html">Download</a></li>
          <li><a href="/discussion.html">Discussion</a></li>
        </ul>
      </div>

      <div id="-menu" class="panel" style="display: none;">
        <div class="flex">
          <section>
            <h3>Project</h3>

            <ul>
              <li><a href="/overview.html">Overview</a></li>
              <li><a href="/components/index.html">Components</a></li>
              <li><a href="/releases/index.html">Releases</a></li>
            </ul>
          </section>

          <section>
            <h3>Messaging APIs</h3>

            <ul>
              <li><a href="/proton/index.html">Qpid Proton</a></li>
              <li><a href="/components/jms/index.html">Qpid JMS</a></li>
              <li><a href="/components/messaging-api/index.html">Qpid Messaging API</a></li>
            </ul>
          </section>

          <section>
            <h3>Servers and tools</h3>

            <ul>
              <li><a href="/components/broker-j/index.html">Broker-J</a></li>
              <li><a href="/components/cpp-broker/index.html">C++ broker</a></li>
              <li><a href="/components/dispatch-router/index.html">Dispatch router</a></li>
            </ul>
          </section>

          <section>
            <h3>Resources</h3>

            <ul>
              <li><a href="/dashboard.html">Dashboard</a></li>
              <li><a href="https://cwiki.apache.org/confluence/display/qpid/Index">Wiki</a></li>
              <li><a href="/resources.html">More resources</a></li>
            </ul>
          </section>
        </div>
      </div>

      <div id="-search" class="panel" style="display: none;">
        <form action="http://www.google.com/search" method="get">
          <input type="hidden" name="sitesearch" value="qpid.apache.org"/>
          <input type="text" name="q" maxlength="255" autofocus="autofocus" tabindex="1"/>
          <button type="submit">Search</button>
          <a href="/search.html">More ways to search</a>
        </form>
      </div>

      <div id="-middle" class="panel">
        <ul id="-path-navigation"><li><a href="/index.html">Home</a></li><li><a href="/components/index.html">Components</a></li><li>Broker-J</li></ul>

        <div id="-middle-content">
          <div id="-left-column">

<h1 id="broker-j">Broker-J</h1>

<div class="feature">

<p>A <a href="http://en.wikipedia.org/wiki/Message-oriented_middleware">message-oriented middleware</a> message broker written in Java
that stores, routes, and forwards messages using AMQP.</p>

</div>

<h2 id="features">Features</h2>

<div class="two-column">

<ul>
<li>Speaks and translates among all versions of AMQP</li>
<li>AMQP over WebSockets</li>
<li>Management via REST, AMQP Management, and web console</li>
<li><a href="/releases/qpid-broker-j-7.1.3/book/Java-Broker-Security-AccessControlProviders.html">Access control lists</a></li>
<li>Flexible logging</li>
<li>Flow to disk</li>
<li>Header-based routing</li>
<li>Heartbeats</li>
<li><a href="/releases/qpid-broker-j-7.1.3/book/Java-Broker-High-Availability.html">High availability</a></li>
<li>Message groups</li>
<li>Pluggable persistence supporting Derby, SQL, and BDB stores</li>
<li><a href="/releases/qpid-broker-j-7.1.3/book/Java-Broker-Security.html#Java-Broker-Security-Authentication-Providers">Pluggable authentication</a> supporting LDAP, Kerberos, OAUTH2 and SSL client certificates</li>
<li><a href="/releases/qpid-broker-j-7.1.3/book/Java-Broker-Runtime-Disk-Space-Management.html#Qpid-Producer-Flow-Control">Producer flow control</a></li>
<li>Secure connection via SSL</li>
<li>Server-side selectors</li>
<li>Specialized queuing with last value queue, priority queue, and sorted queue</li>
<li>Threshold alerts</li>
<li>Transactions</li>
<li><a href="/releases/qpid-broker-j-7.1.3/book/Java-Broker-Runtime-Handling-Undeliverable-Messages.html">Undeliverable message handling</a></li>
<li>Virtual hosts</li>
<li>Support for message compression</li>
</ul>

</div>

<h2 id="documentation">Documentation</h2>

<ul>
<li><a href="/releases/qpid-broker-j-7.1.3/book/index.html">Broker book</a></li>
<li><a href="https://github.com/apache/qpid-broker-j/blob/master/README.md">How to build Apache Qpid Broker-J</a></li>
</ul>

</div>

<div id="-right-column" class="right-column-adjusted">

<h2 id="releases">Releases</h2>

<ul>
<li><a href="/releases/qpid-broker-j-7.1.3">Qpid Broker-J 7.1.3</a></li>
<li><a href="/releases/index.html#past-releases">Past releases</a></li>
</ul>

<h2 id="issues">Issues</h2>

<ul>
<li><a href="https://issues.apache.org/jira/secure/CreateIssue.jspa?pid=12310520&amp;issuetype=1&amp;priority=3">Report a bug</a></li>
<li><a href="https://issues.apache.org/jira/secure/CreateIssue.jspa?pid=12310520&amp;issuetype=4&amp;priority=3">Request an improvement</a></li>
<li><form id="-jira-goto-form">Go to issue <input name="jira" value="QPID-"/></form></li>
<li><a href="https://issues.apache.org/jira/browse/QPID">JIRA project page</a></li>
</ul>

<h2 id="source-code">Source code</h2>

<ul>
<li><a href="https://github.com/apache/qpid-broker-j">Browse via GitHub</a></li>
<li><a href="https://gitbox.apache.org/repos/asf/qpid-broker-j.git">Git clone URL</a></li>
</ul>

<h2 id="resources">Resources</h2>

<ul>
<li><a href="security.html">Security</a></li>
<li><a href="https://cwiki.apache.org/confluence/display/qpid/qpid+java+faq">FAQ</a></li>
<li><a href="https://cwiki.apache.org/confluence/display/qpid/java+broker+design">Design documents</a></li>
<li><a href="https://cwiki.apache.org/confluence/display/qpid/qpid+extensions+to+amqp">Qpid extensions to AMQP</a></li>
<li><a href="https://cwiki.apache.org/confluence/display/qpid/qpid+java+documentation">More on the wiki</a></li>
</ul>

</div>


          <hr/>

          <ul id="-apache-navigation">
            <li><a href="http://www.apache.org/">Apache</a></li>
            <li><a href="http://www.apache.org/licenses/">License</a></li>
            <li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
            <li><a href="http://www.apache.org/foundation/thanks.html">Thanks!</a></li>
            <li><a href="/security.html">Security</a></li>
            <li><a href="http://www.apache.org/"><img id="-apache-feather" width="48" height="14" src="" alt="Apache"/></a></li>
          </ul>

          <p id="-legal">
            Apache Qpid, Messaging built on AMQP; Copyright &#169; 2015
            The Apache Software Foundation; Licensed under
            the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache
            License, Version 2.0</a>; Apache Qpid, Qpid, Qpid Proton,
            Proton, Apache, the Apache feather logo, and the Apache Qpid
            project logo are trademarks of The Apache Software
            Foundation; All other marks mentioned may be trademarks or
            registered trademarks of their respective owners
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
