body {
    max-width: 60em;
    font-weight: normal;
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

#logotype {
    font-weight: bold;
}
