
<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteBase /releases/qpid-proton-master/proton/python

   RewriteRule ^book/(.*)$ docs/$1 [R=301,L]
   RewriteRule ^api/(.*)$ docs/ [R=301,L]
</IfModule>
